html {
    height: 100%;
    background: linear-gradient(30deg,  #a683e3 50%, #e4e9fd 50%);
    font-family: "helvetica neue";
}

body {
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 0;
}

h1, .container {
    border-radius: 3px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1 {
    background-color: #a683e3;
    color: white;
    text-align: center;
    margin: 35px 0px;
    padding: 5px 0px;
}

.container {
    background-color: white;
    width: 300px;
}

input {
    border: none;
}

input[type="submit"] {
    background-color: #a683e3;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0;
    font-size: 1.5rem;
}

input[type="text"] {
    border-bottom: 3px solid #a683e3;
    font-size: 1rem;
}

input[type="text"]:focus,
input[type="text"]:active {
    outline: none;
}

input[type="text"], input::placeholder {
    color: gray;
}

.form-edit {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid gainsboro;
    padding: 0px 15px;
}

.form-add {
    display: flex;
    justify-content: space-between;
    padding: 7px 15px 7px 15px;
}

img {
    width: 12px;
}